body{
  background-color: #751014;
}
@media screen and (orientation:portrait) {
  .main{
    width: 300px;
    margin-top: 50px;
    background-color: #F3F3C5;
  }@media (min-width: 301px){
    .main{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (orientation:landscape) {
 .main{
   width: 950px;
   height: 600px;
   background-color: #F3F3C5;
 }@media (min-width: 951px){
  .main{
    margin-left: auto;
    margin-right: auto;
   }
 }
}

.popup{
  position: fixed;
  min-width: 250px;
  max-width: 500px;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  padding: 5px;
  background-color: #3364A0;
  border: 1px solid #000000;
  z-index: 10;
}
.popup:empty {
  display: none;
}

.left {
  text-align: center;
  background-color: #6589B6;
}
.left div{
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
.left > div ~ div{
  border-left: 1px solid #333333;
}
.left div:hover{
  background-color: rgba(0,0,0,.1);
}

button{
  color: #FFFFFF;
  background-color: #47a3e2;
  padding: 5px 10px;
  border: 1px solid #333333;
}
button:hover{
  background-color: #3364A0;
}
    
.hero{
  width: 19%;
  border: 1px solid #000000;
  display: inline-block;
  margin: 2px;
} .hero .heroName{
    font-weight: bold;
    border-bottom: 1px dashed #000000;
    text-align: center;
    font-size: 16px;
  }
  .hero .virtHubr, .hero .bgrounds, .hero .skills{
    border-bottom: 1px solid #000000;
  }
  .hero .virtHubr span, .hero .bgrounds span, .hero .skills .skill{
    width: 50%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  }
  .hero .virtHubr span:hover, .hero .bgrounds span:hover, .hero .advantages span:hover {
    background-color: rgba(0,0,0,.1);
  }
  .hero .traits .trait {
    width: 35px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  }
  .hero .traits > .trait ~ .trait{
    border-left: 1px solid #000000;
  }
  .t1{
    border-bottom: 1px solid #6666FF;
    background-color: rgba(102,102,255,.3);;
  }
  .t2{
    border-bottom: 1px solid #00D400;
    background-color: rgba(0,255,0,.3);
  }
  .t3{
    border-bottom: 1px solid #C0C000;
    background-color: rgba(204,204,0,.3);;
  }
  .t4{
    border-bottom: 1px solid #E78200;
    background-color: rgba(255,135,0,.3);
  }
  .t5{
    border-bottom: 1px solid #FF0000;
    background-color: rgba(255,0,0,.3);
  }
  .t1:hover {
    background-color: rgba(102,102,255,.75);;
  }
  .t2:hover {
    background-color: rgba(0,255,0,.75);
  }
  .t3:hover {
    background-color: rgba(204,204,0,.75);;
  }
  .t4:hover {
    background-color: rgba(255,102,0,.75);
  }
  .t5:hover {
    background-color: rgba(255,0,0,.75);
  }
  .hero .advantages .adv{
    text-align: center;
    cursor: pointer;
    display: block;
  }

.plot li{
  list-style-type: none;
  display: block;
  background-color: rgb(25,54,47);
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 3px;
}
.plotDetails{
  display: none;
  padding-left: 10px;
}
i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
i.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#greyout{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0,0,0,.75);
}
