body {
  background-color: #b67e7e;
  color: #000000;
}

#everything {
  font-family: "Consolas", Courier, monospace;
  color: #000000;
  background-color: #cc8d8d;
  width: 1500px;
  height: 900px;
  border: 20px solid #a76868;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

#siteWrapper,
.googleAuthWrapper {
  display: none;
}

.btnWrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}

#content {
  width: 1200px;
  height: 840px;
  margin: 0 auto;
  padding: 5px;
}

#content table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

#content tr {
  border-bottom: 1pt solid black;
}

#content tr.Info {
  background-color: #99F;
}

#content tr.High {
  background-color: #F99;
}

#content tr.Normal {
  background-color: #FF9;
}

#content tr.Low {
  background-color: #9F9;
}

#content tr.White {
  background-color: #FFF;
}

#content tr.Clear {
  background-color: #CCC;
}

#content tr.completed {
  text-decoration: line-through;
}