body {
  background-color: #222222;
  color: #CCCCCC;
}

#everything {
  font-family: "Consolas", Courier, monospace;
  color: #FFFFFF;
  background-color: #000000;
  width: 300px;
  height: 400px;
  border: 20px solid #FEFE9A;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

#siteWrapper {
  display: none;
}

#txtKey {
  position: absolute;
  bottom: 5px;
  right: 5px;
}