body {
  background-color: #b67e7e;
  color: #000000;
}

#everything {
  font-family: "Consolas", Courier, monospace;
  color: #000000;
  background-color: #a76868;
  width: 1500px;
  height: 900px;
  border: 20px solid #FEFE9A;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

#siteWrapper,
.googleAuthWrapper {
  display: none;
}

#txtKey {
  position: absolute;
  bottom: 5px;
  right: 5px;
}