body {
	background: #222222;
	font-family: monospace;
	color: #CCCCCC;
	font-size: 14px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.everything{
	width: 800px;
	height: 600px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	position:relative;
	border: 1px dotted #CCCCCC;
}@media (min-width: 801px){
    .everything{
        margin-left: auto;
        margin-right: auto;
    }
}
button {
	background: #222222;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	cursor: pointer;
	margin: 5px;
	border-radius: 4px;
}
button:hover {
	background: #666666;
}
button:disabled {
	background: #999999;
	cursor: default;
}
.version{
	font-size: 12px;
	position: absolute;
	right:1px;
	bottom:1px;
}
.twrInfo{
	font-size: 12px;
	display:none;
	position: absolute;
	background: #222222;
	border: 1px solid #CCCCCC;
	left:775px;
	width: 80px;
	padding: 3px;
}
.topBar:empty {
	display:none;
}
.topBar {
	width: 800px;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	position: absolute;
	top: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.lowBar:empty {
	display:none;
}
.lowBar {
	width: 800px;
	height: 50px;
	border-top: 1px solid #CCCCCC;
	position: absolute;
	bottom: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.mainBar {
	width: 800px;
	height: 500px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	overflow: hidden;
	position: absolute;
	top: 50px;
}
#alerts {
	background: #222222;
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 5px;
	width: 300px;
}	#alerts .alert {
		border-bottom: 1px dashed #CCCCCC;
		text-align: center;
	} #alerts:empty {
		display:none;
	}
