#toDoTable {
  width: 100%;
  height: 700px;
  margin-top: 25px;
}

#toDoTable .today {
  background-color: #d89c9c;
}

#toDoTable .dayTasks {
  border: 1px solid #a76868;
  padding: 5px;
  width: 14%;
  vertical-align: top;
}

.dayHeader {
  font-weight: bold;
  text-align: center;
}

.task {
  width: 150px;
  height: 35px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 10px;
  position: relative;
}

.taskX {
  position: absolute;
  top: 5px;
  right: 5px;
}

.complete {
  text-decoration: line-through;
}

.TIKTOK {
  background-color: #CCCCCC;
}

.YOUTUBE {
  background-color: #FF8888;
}

.INSTAGRAM {
  background-color: #e099ff;
}

.TWITCH {
  background-color: #c166e9;
}

.FACBOOK {
  background-color: #a9a9ff;
}

.PATREON {
  background-color: #FF9944;
}

.OTHER {
  background-color: #ccffcc;
}