.BibleOption {
  border: 1px solid #000;
}

#content {
  width: 100%;
}

#content th {
  background-color: #CCC;
}

.verseLink {
  color: #99F;
  text-decoration: underline;
}

#quotePopup {
  background-color: #FFF;
  border: 1px solid #333;
  width: 75%;
  margin: auto;
  padding: 5px;
}

#version {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 11px;
}