body {
  background-color: #b67e7e;
  color: #000000;
}

#everything {
  font-family: "Consolas", Courier, monospace;
  color: #000000;
  background-color: #cc8d8d;
  width: 1500px;
  height: 800px;
  border: 20px solid #a76868;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

#siteWrapper,
.googleAuthWrapper {
  display: none;
}

.btnWrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}

.import,
.sheet,
.goog {
  display: none;
}

#content {
  width: 1200px;
  height: 840px;
  margin: 30px auto;
  padding: 0 5px;
  overflow: auto;
}


#version {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 11px;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99;
  display: none;
}

#loadingIcon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-animation: rotation 2s infinite linear;
}

#toDoTable {
  width: 100%;
  height: 400px;
  margin-top: 25px;
}

#toDoTable .today {
  background-color: #d89c9c;
}

#toDoTable .dayTasks {
  border: 1px solid #a76868;
  padding: 5px;
  width: 14%;
  vertical-align: top;
}

.dayHeader {
  font-weight: bold;
  text-align: center;
}

.dayTime {
  height: 120px;
}

.task {
  width: 150px;
  height: 35px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 10px;
  position: relative;
}

.taskX {
  position: absolute;
  top: 5px;
  right: 5px;
}

.complete {
  text-decoration: line-through;
}

.meal {
  padding: 20px 10px;
  margin: 10px 5px;
  border-radius: 5px;
}

.forC {
  background-color: #ff9dff;
  border: 2px solid #7a1f7a;
}

.forD {
  background-color: #63ff63;
  border: 2px solid #005e00;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}