#navBar{
  width: 100%;
  list-style-type: none;
  background-color: #CCC;
  text-align: center;
}
#navBar li {
  display: inline;
  cursor: pointer;
  padding: 5px;
}
#navBar li:hover {
  background-color: #BBB;
}

.btnSubmit{
  border: 1px solid #000;
  cursor: pointer;
  padding: 2px 5px;
  display: inline-block;
}

#credit{
 position: absolute;
  bottom: 0px;
  right: 0px;
}
